@{
    ViewData["Title"] = "Payment Cancelled";
}

<h2><i class="fas fa-times-circle text-danger" style="font-size: 50px;"></i> Payment Cancelled</h2>
<p>Your payment was cancelled. If you wish to try again, you can reinitiate the booking process.</p>

<a asp-controller="Event" asp-action="Index" class="btn btn-primary">
    <i class="fas fa-arrow-left"></i> Back to Events List
</a>
