@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
<link href="~/css/LoginPartial.css" rel="stylesheet" />

<ul class="custom-navbar">
    @if (SignInManager.IsSignedIn(User))
    {
       
        
    var user = await UserManager.GetUserAsync(User); // الحصول على كائن المستخدم من UserManager
    var firstName = user?.FirstName;
    var lastName = user?.LastName;


<li class="nav-item">
    <a asp-area="Identity" asp-page="/Account/Manage/Index" class="nav-link d-flex align-items-center text-light" title="Manage Profile">
                @if (UserManager.GetUserAsync(User).Result.ProfilePicture != null)
                {
            <li class="nav-item">
                <img style="width:40px; height:40px;" src="data:image/*;base64,@Convert.ToBase64String(UserManager.GetUserAsync(User).Result.ProfilePicture)" class="rounded-circle" />
            </li>

                }
                else
                {
            <i class="fas fa-user-circle me-3 fs-4"></i>

                }
        <span class="text-truncate" style="max-width: calc(100% - 3rem);">
            <strong>Hello, @firstName @lastName!</strong>
        </span>

        <li class="nav-item">
            <form class="form-inline text-truncate" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="nav-link btn btn-link text-dark">Logout</button>
            </form>
        </li>
    </a>
</li>
       

    }
    else
    {
        <li class="custom-nav-item">
            <a class="custom-nav-link" asp-area="Identity" asp-page="/Account/Register">
                <i class="fas fa-user-plus"></i> Register
            </a>
        </li>
        <li class="custom-nav-item">
            <a class="custom-nav-link" asp-area="Identity" asp-page="/Account/Login">
                <i class="fas fa-sign-in-alt"></i> Login
            </a>
        </li>
    }
</ul>
